#!upstart
description "Upstart Script for a Node.js forever process"

start on startup
stop on shutdown

expect fork

env USER="deploy"
env APP_DIR="{{ www_root }}/{{ item.site_name }}/current"
env APP_START="./{{ item.main_executable }}.js"
env LOG="{{ www_root }}/{{ item.site_name }}/logs/{{ item.site_name }}.log"
env PID="/home/deploy/.forever/pids/{{ item.site_name }}_workers.pid"
env FOREVER_BIN="/usr/local/bin/forever"

script
    exec start-stop-daemon --start --chuid $USER  --group $USER --chdir $APP_DIR --quiet --exec $FOREVER_BIN start -- -l $LOG -a --sourceDir $APP_DIR --minUptime 5000 --spinSleepTime 2000 $APP_START
end script

pre-stop script
    exec forever stop $APP_START >> $LOG
end script
