# Upstart job definition for {{ item.site_name }}
# Credit: https://github.com/cvee/node-upstart
#

description "Upstart job definition for {{ item.site_name }}"

console log

# When to start the service
start on filesystem and started networking

# When to stop the service
stop on runlevel [016]

# User to run as
setuid {{ item.user }}

env APP_PATH="{{ www_root }}/{{ item.site_name }}/current"
env APP_START="{{ item.main_executable }}.js"
env LOG="{{ www_root }}/{{ item.site_name }}/logs/{{ item.site_name }}.log"

# If the process quits unexpectadly trigger a respawn
respawn

# Start the process
script
  cd $APP_PATH
  /usr/bin/node $APP_PATH/$APP_START >> $LOG 2>&1
end script